#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.success-btn, .success-btn:active, .success-btn:visited, .success-btn:focus{
    background-color: #28a745;
    border-color: inherit;
}

.success-btn:hover{
    background-color: transparent;
    border-color: #28a745;
    color: inherit;
}

.ant-form-item{
    margin-bottom: 6px;
}

.form-button{
    margin-top: 20px;
}

.cancel-button{
    margin-right: 10px;
}

.error-label{
    color: red;
}

.ant-table-tbody > tr > td{
    padding: 5px 16px;
}

.institute-name-label{
    color: #4a9c87;
    font-size: 24px;
    font-weight: bold;
}

.institute-logo{
    margin-top: -12px;
}

.ant-table-small .ant-table-thead > tr > th{
    background-color: #dedbdb;
}



